doctype html
html
    head
        title Victor's resume
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css' media='all')
        link(rel='stylesheet', href='/stylesheets/print.css' media='print')
    body
        .container-fluid
            block content
        include footer
    script(src='/javascripts/app.js')

